.container {
    border: 1px solid black;

    .title {
        margin-top: 18px;
        font-weight: bold;
    }
    
}


.add-book {
    margin-left: 1rem;
    transform: scale(1.5);
    cursor: pointer;
}

.dropdown-item{
    cursor: pointer;
}

h4{
    margin: 0;
}